body{
    color: #fff;
    font-family: Quicksand;
}
#tete{
    color: #003E69;
    position: relative;
    left: 61%;
    margin-right: 61%;
    margin-left: 30%;
    font-family: 'Archivo black';
    font-size: 18px;
}
img{
    width: 4%;
    height: auto;
    position: relative;
    left: 87.2%;
    top: 57px;
}
span{
        position: relative;
        top: 18px;
        left: 7px;
    }
    #head{
        margin-top: 6%;
        background-color :#5CB7E7;
        height: 50px;
        border-bottom: #003E69 5px solid;
        
        
    }
    #body{
        background-color: grey;
        border-radius: 0px 0px 0px 20px;
    }
    #text{
        position: relative;
        left:7px;
    }
#footer{
    position: relative;
    text-align: right;
    right: 19px;
}
text,h2{
    font-family: 'Kanit';
}