header{
    text-align: center;
    background-color: rgb(73, 69, 69);} 

header.menu{
  position:sticky;
  top:0;
  overflow: hidden;
  position: -webkit-sticky;
  z-index: 30;
  font-size: 20px; 
}

#navbar{
    list-style-type: none;
    display:inline-block;
    margin: 0;
    padding: 0;
    
    }

    .navbarli {
      float: left;
    }
    
    .navbarli a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .navbarli a:hover {
      background-color: #145561;
    }
    
    .active {
      background-color: #04AA6D;
    }
    #droitenavbar{
      float: right;
    }
body {
  font-family: "Luminari, fantasy";
  font-size: 17px;
  background-color: #145561 ;
} 

h1{
    text-align: center;
}

/* #Me {
    background-color: red ;
} */
#me1,#me2{
    font-size: 20px;
    text-align: right;
    color: white
}
#headMe{
    /* background-color: yellow; */
    text-align: center;
}
#textMe{
  display: inline;
}
#melist
{
  position: relative;
  display: inline-block;
  list-style: none;
  bottom: 230px;
}
#me2 {
  position: relative;
  top: 135px;
}

#pictMe1{
  background-color: green;
  text-align: center;
  position: relative;
  width: 11%;
  height:auto;
  left:16%;
  bottom: 69px;
}




#Mlf {
    background-color: lightgreen ;
}





#picmlf1{
  background-color: green;
  text-align: right;
  position: relative;
  width: 13%;
  height:auto;
  left:16%;
  bottom: 69px;
}
#picmlf2{
  width: 13%;
}
#picmlf3{
  width: 13%;
}
#picmlf4{
  width: 13%;
}





#Mh {
    background-color: blue ;
}
#About{
    background-color: hotpink;
}