header{
    text-align: center;
    background-color: rgb(73, 69, 69);} 
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 30;
    }
    
    .navbarli {
      float: left;
    }
    
    .navbarli a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .navbarli a:hover:not(.active) {
      background-color: #145561;
    }
    
    .active {
      background-color: #04AA6D;
    }
    #droitenavbar{
      float: right;
    }
body {
    background-color: #145561 ;
} */

h1{
    text-align: center;
}

#Me {
    background-color: red ;
}
#headMe{
    background-color: yellow;
    text-align: center;
}
#melist
{
  list-style: none;
}



#pictMe1{
  width: 3%;
  height:auto;
}



#Mlf {
    background-color: lightgreen ;
}
#Mh {
    background-color: blue ;
}
#About{
    background-color: darkslategrey ;
}