header{
    color: #003E69;
    display: flex;
    position: relative;
    width: 100%;
    background-color: lightcoral;
}
img{
    width: 5%;
    height: auto;
    
}
body{
    background-color: red;
}
div{
    background-color: green;
}
#body{
    background-color: blue;
}
#head{

    background-color :#5CB7E7;
}
#footer{
    text-align: right;
}