header{
    color: #003E69;
    text-align: right;
    
}
#image{
    width: 3%;
    height: auto;
    content: url("https://www.helec.be/sites/default/files/logo-helec.png");
    
}
#head{

    background-color :#5CB7E7;
}
#footer{
    text-align: right;
}