
#tete{
    color: #003E69;
    position: relative;
    left: 61%;
    margin-right: 61%;
    margin-left: 30%;

}
img{
    width: 4%;
    height: auto;
    position: relative;
    left: 87.2%;
    top: 57px;
}
body{
    color: white; }
#body{
    background-color: blue;
}
#head{
    margin-top: 6%;
    background-color :#5CB7E7;
    height: 100px;
    
}
span{
    
}
#footer{
    text-align: right;
}