header{
    color: #003E69;
    left: 91%; 
    position: absolute;

}
#image{
    width: 35%;
    height: auto;
    position: relative;
    bottom: 20px;
    
}
body{
    
}
footer{
    text-align: right;
}