header{
    color: #003E69;
    text-align: end;
    left: 91%; 

}
#image{
    width: 35%;
    height: auto;
    
}
#head{

    background-color :#5CB7E7;
    margin: 30 30 30 ;
}
    footer{
    text-align: right;
}